# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.temp/
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/public/dist
/lib

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/.cache
.ash_history
/.vscode/
/.config/configstore/update-notifier-npm.json
/.npm/
/.vscode-server
/.devcontainer
/.history
/.idea
vscode-workspace.code-workspace
junit.xml

.gnupg
.ssh
.bash_history
.gitconfig
